<?xml version="1.0" encoding="UTF-8"?>
<Context>
	
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
	<WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="5" maxWait="5000" name="jdbc/Oracle11g" password="tiger" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:xe" username="scott"/>	
	<Resource auth="Container" driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="5" maxWait="5000" name="jdbc/Oracle11g" password="tiger" type="javax.sql.DataSource" url="jdbc:oracle:thin:@localhost:1521:xe" username="scott"/>
</Context>